<a href="https://colab.research.google.com/github/RICHAR-SL/panda_numpy/blob/main/Pandas_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios con numpi y panda

Ejercicio1: Programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y despues de aplicarles un descuento del 5%

In [3]:
#Ejer 1

import pandas as pd

anio_inicio= int(input("Introduce el año inicial "))
anio_final= int(input("Introduce el año final "))

ventas= {}
for i in range(anio_inicio,anio_final+1):
  ventas[i]=float(input("venta en el año "+str(i)+': '))
ventas= pd.Series(ventas)
print('Ventas\n',ventas)

print('Ventas con descuento de 5%\n',ventas*0.95)

Introduce el año inicial 200
Introduce el año final 202
venta en el año 200: 100
venta en el año 201: 200
venta en el año 202: 0

ValueError: If using all scalar values, you must pass an index

In [23]:
#Ejer 1

import pandas as pd

anio_inicio= int(input("Introduce el año inicial "))
anio_final= int(input("Introduce el año final "))

ventas= {}
ventas_pares = {}

for i in range(anio_inicio,anio_final+1):
  venta = float(input("venta en el año "+str(i)+': '))
  ventas[i] = venta
  if i % 2 == 0:
    ventas_pares[i] = venta

ventas = pd.Series(ventas)
ventas_pares = pd.Series(ventas_pares)
venta=pd.DataFrame({'ventas\t':ventas,'ventas con 5% de descuento\t':ventas*0.95,'ventas pares\t':ventas_pares,'ventas pares con descuento\t':ventas_pares})

print(venta)
print(ventas_pares.tail(2))

4

Introduce el año inicial 2000
Introduce el año final 2007
venta en el año 2000: 132
venta en el año 2001: 456
venta en el año 2002: 132
venta en el año 2003: 54
venta en el año 2004: 18
venta en el año 2005: 1
venta en el año 2006: 0
venta en el año 2007: 15971.22545655554654645654
          ventas\t  ventas con 5% de descuento\t  ventas pares\t  \
2000    132.000000                    125.400000           132.0
2001    456.000000                    433.200000             NaN
2002    132.000000                    125.400000           132.0
2003     54.000000                     51.300000             NaN
2004     18.000000                     17.100000            18.0
2005      1.000000                      0.950000             NaN
2006      0.000000                      0.000000             0.0
2007  15971.225457                  15172.664184             NaN

      ventas pares con descuento\t
2000                         132.0
2001                           NaN
2002                         132.0
2003                           NaN
2004                          18.0
2005                           NaN
2006                           0.0
2007                           NaN
2004    18.0
2006     0.0
dtype: float64

4

**Ejercicio2**:calculo de estadisricas basicas: media, mediana, desviacion estandar - numpy para el dataframe

In [38]:
from ast import Index
import pandas as pd
import numpy as np


#crear un dataframe
data ={'Nombre':['Richard', 'Fernando', 'Maria', 'Abigail'],
      'Edad':[180, 18, 10,25],
      'Departamento':['Ica','Cajamarca','Junin','Lima']}


df = pd.DataFrame(data)
          # Set the 'Nombre' column as the index
          #df.set_index('Nombre', inplace=True)
print(df)

print("\n\n")
#calcular la media utilizando numpy
media_edad=np.mean(df['Edad'])
print('La media de la edad es: ',media_edad)

#calcular la mediana utilizando numpy
mediana_edad=np.median(df['Edad'])
print('La mediana de la edad es: ',mediana_edad)

#calcular la desviacion utilizando numpy
desviacion_edad=np.std(df['Edad'])
print('La desviacion estandar de la edad es: ',desviacion_edad)

#calcular el maximo utilizando numpy
maximo_edad=np.max(df['Edad'])
print('El valor maximo de la edad es: ',maximo_edad)

#calcular el minimo utilizando numpy
minimo_edad=np.min(df['Edad'])
print('El valor minimo de la edad es: ',minimo_edad)

print()

     Nombre  Edad Departamento
0   Richard   180          Ica
1  Fernando    18    Cajamarca
2     Maria    10        Junin
3   Abigail    25         Lima



La media de la edad es:  58.25
La mediana de la edad es:  21.5
La desviacion estandar de la edad es:  70.49246413624651
El valor maximo de la edad es:  180
El valor minimo de la edad es:  10